@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300&display=swap');

body {
  margin: 0;
  background-color: whitesmoke;
  font-family: 'Unbounded';

}

nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1em;
  align-items: center;
  text-align: center;
 border-bottom: 1px solid rgb(220, 220, 220);
  background: black;
  height: 50px;
  position: sticky-top;
}


main {
  border-bottom: 1px solid black;
  background-color: black;
  position: relative;
}

.bdp {
  position: absolute;
  top: 100px;
  right: 250px;
  padding: 0px 20px 20px 20px;
  width: 400px;
  height: 250px;
  border-radius: 20px;
  background: rgba(8, 8, 8, 0.432);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.2px);
  -webkit-backdrop-filter: blur(9.2px);
  border: 1px solid rgba(8, 8, 8, 0.3);
}

.bdp h2 {
  color: rgba(255, 254, 254, 0.952);
}

.bdp p {
  color: rgba(233, 238, 241, 0.863);
  font-size: 20px;
}

main img {
  width: 100%;
}

.navLinks {
  font-size: 1.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(220, 220, 220);
}

.navLinks:hover {
  color: white;
  padding: 1em 1em;
}

header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 1px solid black;

}

.service {
    height: 150px;
    background-color: transparent;
    color: black;
    border: 1px solid silver;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 15px;
}

.service p {
    font-size: 30px;
}

.service button {
    background-color: transparent;
    border: solid #808080 1px;
    color: black;
    border-radius: 12px;
    height: 28px;
}


h4 {
  font-size: 20px;
  font-family: 'Unbounded';
}

section{
  border-right: solid 0.8px silver;
  padding: 5%;
  padding-top: 0%;
  background-color: whitesmoke;
  border-bottom: 1px solid silver;
}
section img {
  border-radius: 13px;
  width: 100%;
}

section i {
  float: right;
}

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 60px;
}

footer .links {
  padding-top: 20px;
  
}

footer a {
  color: black;
}

.sponsor {
  padding-top: 20px;
}

.extra {
  padding-top: 20px;
}

.logo {
  grid-column: 3;
  background-image: url("assets/logo.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 6vh;
}

@media (max-width: 550px) {
  section {
    background-color: whitesmoke;
    color: black;
    grid-column: span 3;
    border-bottom: 0.8px solid silver;
 }
.bdp {
  display: none;
}
.heading3 p {
  padding-top: 0%;
}

.heading4 {
  
  grid-column: span 3;
  
}
section p {
  font-weight: 300;
}
.a{
  display: none;
}

.b{
  display: none;
}

.c{
  display: none;
}

.d{
  display: none;
}

nav {
  border-bottom: none;
}
}  
